 /* CSS reset*/
 body {
     font-family: 'Baloo Bhai', cursive;
     color: White;
     margin: 0px;
     padding: 0px;
     background: url("/img/back.jpg");
     /*height: 5000px;*/
 }

 .left {
     display: inline-block;
     /* border: 2px solid whitesmoke; */
     position: absolute;
     left: 40px;
     top: 20px;
 }

 .left img {
     width: 100px;
     filter: invert(100%);
     /*changes color from black to white to black and vice versa  */

 }

 .left div {
     text-align: center;
     line-height: 19px;
     font-size: 20px;
 }

 .mid {
     /* border: 2px solid green; */
     display: block;
     width: 45%;
     margin: 29px auto;
 }

 .right {
     position: absolute;
     right: 34px;
     top: 43px;
     display: inline-block;
     /* border: 2px solid greenyellow; */
 }

 .navbar {
     display: inline-block;
 }

 .navbar li {
     display: inline-block;
     font-size: 26px;
 }

 .navbar li a {
     color: white;
     text-decoration: none;
     padding: 30px 20px;
 }

 .navbar li a:hover,
 .navbar li a.active {
     text-decoration: underline;
     color: grey;
 }

 .btn {
     margin: 0px 9px;
     background-color: black;
     color: bisque;
     padding: 4px 14px;
     border: 2px solid red;
     border-radius: 10px;
     font-size: 18px;
     cursor: pointer;
     font-family: 'Baloo Bhai', cursive;

 }

 .btn:hover {
     background-color: rgb(103, 69, 69);
 }

 .container {
     border: 2px solid white;
     margin: 110px 80px;
     padding: 75px;
     width: 33%;
     border-radius: 28px;
 }
 .form-group input{
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 510px;
    padding: 2px;
    border: 6px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
 }
 .container h1{
    text-align: center;
 }
 .container button{
    display: block;
    width: 75%;
    margin: 20px auto;

 }